body {
    background-color: dodgerblue;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

.wrapper {
    text-align: center;
}

#list-container {
    width: 45%;
    margin: auto;
}

.home-button-wrapper {
    text-align: center;
    margin-bottom: 30px;
}

.home-buttons li {
    margin-bottom: 6px;
}

.home-buttons {
    width: 45%;
    margin: auto;
}

a:visited {
    color: black;
}

a:hover {
    color: grey;
}

.mainList {
    text-align: left;
    background-color: whitesmoke;
    margin-top: 20px;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid dimgray;
}

.mainList2 {
    text-align: left;
    background-color: whitesmoke;
    margin-top: 20px;
    width: 35%;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid dimgray;
}

.mainList2 .body {
    margin-left: 10px;
}

.mainList2 .username {
    margin-left: 10px;
}

.li-width {
    width: auto;
}

.mainList .body, .mainList2 .body {
    color: grey;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 15px;
}

.foot .small-text {
    font-size: 14px;
}

#title-text {
    font-size: 24px;
}

.centered {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

#login-form-wrapper {
    margin-top: 100px;
    background-color: whitesmoke;
    text-align: center;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid dimgray;
}

.button {
    margin-bottom: 20px;
}

.text-input {
    width: 180px;
    height: 35px;
    margin-bottom: 10px;
}

.alert {
    font-size: 12px;
    color: red;
}

.text-input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.text-input:focus {
    border: 1px solid dodgerblue;
}

button, .button {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}

button:hover, .button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}

button:active, .button:active {
    position:relative;
    top:1px;
}

#small-login-text {
    font-size: 12px;
}

#red-login {
    color: rebeccapurple;
    font-weight: 400;
}

.new-post {
    color: #333333;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 30px;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid dimgray;
}

.page-container {
    color: #333333;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 30px;
    width: 20%;
    margin-right: auto;
    margin-left: auto;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid dimgray;
}

#big-input, .big-input {
    width: 200px;
    height: 100px;
}

.new-post {
    width: 20%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#post-button {
    margin-bottom: 10px;
}

.comment-field button {
    margin-top: 4px;
}
